@use "./variables" as *;

.about-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 80px;
  .about__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    li {
      background-color: $primary-color;
      padding: 10px 20px 10px 20px;
      border-radius: $radius-small;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      color: $background-color;
    }
    div {
      background-color: $secondary-color;
      padding: 20px;
      border-radius: $radius-small;
      p {
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
        color: $text-color;
      }
    }
  }
}
