@use "./variables" as *;
@use "./mixins" as *;

.about-section {
  @include flex-column;
  gap: 20px;
  padding: 40px 80px;

  @include mobile-screen {
    padding: 0px;
  }
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
  @include flex-column;
  gap: 40px;

  @include mobile-screen {
    gap: 20px;
  }
}
