@use "./variables" as *;
@use "./mixins" as *;

.banner {
  position: relative;
  width: 100%;
  height: 223px;
  border-radius: $radius-xl;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
  .banner-overlay {
    @include overlay(0.6);
    z-index: 1;
  }
  img {
    @include img-cover;
  }
  .banner-text {
    position: absolute;
    bottom: 30px;
    justify-self: anchor-center;
    color: $background-color;
    font-family: $font-family;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  @include mobile-screen {
    height: $height-banner-mobile;
    margin-top: 20px;
    margin-bottom: 20px;
    .banner-text {
      font-size: $font-size-md;
      align-self: anchor-center;
      padding: 5px 20px;
    }
  }
  @include tablet-screen {
    height: $height-banner-tablet;
    margin-top: 30px;
    margin-bottom: 30px;
    .banner-text {
      font-size: $font-size-md;
      align-self: anchor-center;
      padding: 10px 30px;
    }
  }

  @include desktop-screen {
    height: 223px;
    margin-top: 50px;
    margin-bottom: 50px;
    .banner-text {
      font-size: 48px;
      align-self: anchor-center;
      padding: 15px 40px;
    }
  }
}
