@use "./variables" as *;
@use "./mixins" as *;

.card {
  text-decoration: none;
  background-color: $primary-color;
  border-radius: $radius-small;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    flex: 1;
    border-radius: $radius-small;
    object-fit: cover;
  }

  .card-title {
    font-family: $font-family;
    font-size: $font-size-m;
    font-weight: 600;
    margin: 12px 0 0 0;
    color: $background-color;
  }

  @include tablet-screen {
    width: 335px;
    height: 255px;
    padding: 14px;

    .card-title {
      font-size: $font-size-m;
      margin: 10px 0 0 0;
    }
  }

  @include mobile-screen {
    width: 335px;
    height: 255px;
    padding: 12px;

    .card-title {
      font-size: $font-size-sm;
      margin: 8px 0 0 0;
    }
  }
}
