@use "./variables" as *;
@use "./mixins" as *;

.card {
  text-decoration: none;
  background-color: $primary-color;
  border-radius: $radius-small;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px 0;
  width: 29%;
  height: 340px;

  img {
    width: 100%;
    height: 80%;
    border-radius: $radius-small;
  }
  .card-title {
    font-family: $font-family;
    font-size: $font-size-m;
    font-weight: 600;
    margin: 12px 0 8px 0;
    color: $background-color;
  }
  @include mobile-screen {
    width: 100%;
    height: 255px;
    padding: 12px;

    .card-title {
      font-size: $font-size-sm;
      margin: 8px 0 6px 0;
    }
  }
}
