@use "./variables" as *;
@use "./mixins" as *;

.footer {
  background-color: $footer-background-color;
  text-align: center;
  padding: 20px 0;
  font-size: $font-size-s;
  margin-top: 50px;
  color: $background-color;
  font-family: $font-family;

  @include mobile-screen {
    font-size: $font-size-xs;
    padding: 15px 0;
  }
}
