@use "./variables" as *;
@use "./mixins" as *;

.logementsSection {
  padding: 50px 20px;
  background-color: $secondary-color;
  border-radius: $radius-xl;
  .cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
  }
  @include mobile-screen {
    padding: 20px 10px;
    .cards-grid {
      gap: 20px;
      margin-top: 20px;
    }
  }
}
