@use "./variables" as *;
@use "./mixins" as *;

.logementsSection {
  padding: 50px 20px;
  background-color: $secondary-color;
  border-radius: $radius-xl;

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
    margin-top: 40px;
  }

  @include tablet-screen {
    padding: 30px 15px;
    .cards-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
      margin-top: 30px;
    }
  }

  @include mobile-screen {
    padding: 20px 10px;
    .cards-grid {
      grid-template-columns: 1fr;
      gap: 20px;
      margin-top: 20px;
    }
  }
}
