@use "./variables" as *;
@use "./mixins" as *;

.logementsSection {
  padding: 50px 20px;
  background-color: $secondary-color;
  border-radius: $radius-xl;

  .cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    justify-content: center;
  }

  @include tablet-screen {
    padding: 30px 15px;
    .cards-grid {
      gap: 25px;
      margin-top: 30px;
    }
  }

  @include mobile-screen {
    padding: 20px 10px;
    .cards-grid {
      gap: 20px;
      margin-top: 20px;
    }
  }
}
