@use "./variables" as *;

.logementsSection {
  padding: 50px 20px;
  background-color: $secondary-color;
  border-radius: $radius-xl;
  .cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
  }
}
