@use "./variables" as *;
@use "./mixins" as *;

.carousel {
  position: relative;
  width: 100%;
  height: 415px;
  overflow: hidden;
  border-radius: $radius-xl;
  @include flex-center;
  .carousel-button {
    color: white;
    background-color: transparent;
    position: absolute;
    top: 50%;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 2;
    &.prev {
      left: 10px;
    }
    &.next {
      right: 10px;
    }
  }
  .carousel-pagination {
    color: $background-color;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3em 0.8em;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    z-index: 2;
    user-select: none;
  }
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      min-width: 100%;
      height: 100%;
      scroll-snap-align: center;

      img {
        @include img-cover;
      }
    }
  }
}
