@use "./variables" as *;
@use "./mixins" as *;

.carousel {
  position: relative;
  width: 100%;
  height: 415px;
  overflow: hidden;
  border-radius: $radius-xl;
  @include flex-center;
  .carousel-button {
    color: white;
    background-color: transparent;
    position: absolute;
    top: 50%;
    border: none;
    font-size: $font-size-lg;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 2;
    &.prev {
      left: 10px;
    }
    &.next {
      right: 10px;
    }
  }
  .carousel-pagination {
    color: $background-color;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3em 0.8em;
    border-radius: 20px;
    font-size: $font-size-lg;
    font-weight: bold;
    z-index: 2;
    user-select: none;
  }
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      min-width: 100%;
      height: 100%;
      scroll-snap-align: center;

      img {
        @include img-cover;
      }
    }
  }
}
.housing-header {
  @include flex-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.housing-infos {
  @include flex-start;
  @include flex-direction(column);
  flex-wrap: wrap;
  gap: 10px;
  h2 {
    font-family: $font-family;
    font-weight: 500;
    font-size: $font-size-l;
    color: $primary-color;
    margin: 0;
  }
  h3 {
    font-family: $font-family;
    font-weight: 500;
    font-size: $font-size-m;
    color: $text-color;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    li {
      font-family: $font-family;
      font-weight: 700;
      font-size: $font-size-s;
      color: $secondary-text-color;
      background-color: $primary-color;
      padding: 5px 10px;
      border-radius: $radius-xl;
    }
  }
}

.host-info {
  @include flex-between;
  width: 100%;
  gap: 10px;
  .host-details {
    @include flex-column;
    align-items: flex-end;
    text-align: right;
  }
  .host-name {
    font-family: $font-family;
    font-weight: 500;
    font-size: $font-size-m;
    color: $primary-color;
    margin-bottom: 5px;
  }
  .host-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
  }
}

.host-rating {
  margin-top: 10px;
  i {
    font-size: $font-size-md;
    margin-left: 5px;
  }
}
.description-equipments {
  @include flex-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  .description,
  .equipments {
    @include details-summary;
    width: 45%;
  }
}
