@use "./variables" as *;
@use "./mixins" as *;

body {
  margin-left: 200px;
  margin-right: 200px;
  font-family: $font-family;
  background-color: $background-color;
  @media screen and (max-width: 375px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
