@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  padding-left: 200px;
  padding-right: 200px;
  font-family: $font-family;
  background-color: $background-color;

  @include mobile-screen {
    padding-left: 20px;
    padding-right: 20px;
  }
}
