@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  padding-left: 200px;
  padding-right: 200px;
  font-family: $font-family;
  background-color: $background-color;

  header {
    margin-bottom: 50px;
  }

  @include mobile-screen {
    padding: 0px;
  }
  @include tablet-screen {
    padding: 0px;
  }
  @include desktop-screen {
    padding-left: 100px;
    padding-right: 100px;
  }
  @include extra-large-desktop-screen {
    padding-left: 300px;
    padding-right: 300px;
  }
}
