@use "./variables" as *;

// Flexbox mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
}

// Media queries (responsive)
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

// Overlay (pour les bannières)
@mixin overlay($opacity: 0.6) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, $opacity);
}

// Image cover
@mixin img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//lsite déroulante

@mixin details-summary {
  summary {
    background-color: $primary-color;
    padding: 10px 20px 10px 20px;
    border-radius: $radius-small;
    font-size: $font-size-md;
    font-weight: bold;
    font-family: $font-family;
    color: $background-color;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f106"; /* fa-angle-up */
      color: #ffffff;
      transition: transform 0.3s ease;
    }
  }

  details[open] summary::after {
    transform: rotate(180deg);
  }
  p {
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
    margin: 0;
    font-size: $font-size-m;
    color: $text-color;
    font-family: $font-family;
  }
}

// Responsive mobile

@mixin mobile-screen {
  @media (max-width: 375px) {
    @content;
  }
}
@mixin tablet-screen {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin desktop-screen {
  @media (min-width: 1025px) {
    @content;
  }
}
@mixin large-desktop-screen {
  @media (min-width: 1440px) {
    @content;
  }
}
@mixin extra-large-desktop-screen {
  @media (min-width: 1920px) {
    @content;
  }
}
