@use "./variables" as *;
@use "./mixins" as *;

.navbar {
  @include flex-between;
  padding: 10px 20px;
  .nav-links {
    display: flex;
    gap: 57px;
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: $text-color;
      font-family: $font-family;
      font-weight: 500;
      font-size: $font-size-md;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include mobile-screen {
    height: $height-banner-mobile;
    @include flex-between;
    align-items: center;
    padding: 5px 10px;

    .nav-links {
      gap: 20px;
      li a {
        font-size: $font-size-xs;
      }
    }

    h1 img {
      height: $logo-height-mobile;
    }
  }
}
