@use "./variables" as *;
@use "./mixins" as *;

.navbar {
  @include flex-between;
  padding: 10px 20px;
  .nav-links {
    display: flex;
    gap: 57px;
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: $text-color;
      font-family: $font-family;
      font-weight: 500;
      font-size: 24px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
