@use "./variables" as *;
@use "./mixins" as *;

.error__section {
  @include flex-center-column;
  height: 100vh;

  .code__error {
    font-family: $font-family;
    font-size: 288px;
    font-weight: 700;
    font-style: normal;
    color: $primary-color;
    margin: 5px;
  }

  .message__error {
    font-size: 36px;
    color: $primary-color;
  }

  .Link {
    font-size: 18px;
    color: $text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
