// Variables

// Colors
$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$background-color: #ffffff;
$footer-background-color: black;
$text-color: #000000;
$secondary-text-color: white;
// Fonts and Sizes
$font-family: "Montserrat", sans-serif;
$radius-xl: 25px;
$radius-small: 8px;
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-sm: 17px;
$font-size-m: 18px;
$font-size-md: 24px;
$font-size-base: 32px;
$font-size-l: 36px;
$font-size-lg: 48px;
$font-size-xl: 288px;
// Dimensions
$height-header: 68px;
$height-footer: 212px;
$height-banner-mobile: 111px;
$height-banner-tablet: 118px;
// Logo Heights
$logo-height-mobile: 40px;
$logo-height-tablet: 48px;
