$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$background-color: #ffffff;
$footer-background-color: black;
$text-color: #000000;
$font-family: "Montserrat", sans-serif;
$radius-xl: 25px;
$radius-small: 8px;
