.about-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 80px;
  .about__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    li {
      background-color: #ff6060;
      padding: 10px 20px 10px 20px;
      border-radius: 5px;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #ffffff;
    }
    div {
      background-color: #f7f7f7;
      padding: 20px;
      border-radius: 8px;
      p {
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
        color: #333;
      }
    }
  }
}
