.logementsSection {
  padding: 50px 20px;
  background-color: #f6f6f6;
  border-radius: 25px;
  .cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
  }
}
