.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  .nav-links {
    display: flex;
    gap: 57px;
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: black;
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      font-size: 24px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
