@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@use "./styles/index" as *;
@use "./styles/navbar" as *;
@use "./styles/banner" as *;
@use "./styles/card" as *;
@use "./styles/home" as *;
@use "./styles/about" as *;
@use "./styles/footer" as *;
@use "./styles/notfound" as *;
