@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "./styles/index";
@import "./styles/navbar";
@import "./styles/banner";
@import "./styles/card";
@import "./styles/home";
@import "./styles/about";
@import "./styles/footer";
